<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishFlavourMapper">

    <!--    新增菜品口味-->
    <insert id="insert">
        insert into dish_flavor (dish_id, name, value) values
        <foreach collection="flavors" item="flavour" separator=",">
            (#{flavour.dishId},#{flavour.name},#{flavour.value})
        </foreach>
    </insert>

<!--    根据有效ID删除菜品对应口味-->
    <delete id="deleteById">
        delete from dish_flavor where dish_id in
        <foreach collection="validId" item="id" close=")" separator="," open="(">
                            #{id}
        </foreach>
    </delete>
</mapper>
